numpy
faiss-cpu
torch
torchvision
torchaudio
uvicorn
fastapi
sqlalchemy
librosa
gtts
python-dotenv
transformers
langchain-openai
langchain
langchain-community
llama-index
mysqlclient
rank-bm25
sentence-transformers
elasticsearch
selenium
google-api-python-client
apscheduler
langdetect
python-multipart
ffmpeg-python