# requirements.txt

fastapi
uvicorn
transformers
torch
happytransformer
insightface
#mysql-connector-python sqlalchemy
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-postgres
langchain-text-splitters
langchainhub
langdetect
langgraph
langserve
langsmith
faiss-cpu
fastapi
fastapi-cli
feedparser
pypdf
pypdfium2
regex
requests
requests-oauthlib
requests-toolbelt
tiktoken
urllib3
uvicorn
# uvloop==0.19.0
websocket-client
websockets
Werkzeug
wheel
wikipedia
wrapt
xlrd
XlsxWriter
yarl
yfinance
BeautifulSoup
google-api-python-client